@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Caveat');



body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
	font-family: "Montserrat";
}
html,h1,h2,h3,h4,h5,h6,a,p{
	font-family: "Montserrat";
}

/* Navbar Nastya*/

.topnav {
	overflow: hidden;
	background-color: #84B59F;  
	padding: 0px;
  }
  
.navigation-b {
	float: right;
	color: #F0EEE5;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 25px;
  }

.navigation-b:hover {
	background: #f4f4f4;
	color: #84B59F;
  }

  
.topnav-right {
	float: right;
  }
  
#logo {
	float: left;
	font-size: 45px;
	color: #F0EEE5;
	margin-left: 1%;
	margin-bottom: 0px;
	margin-top: 5px;
	font-family: 'Caveat';
	text-decoration: none;
  }

#logo:hover {
	text-shadow: 2px 2px #70a18b;
	color: #f4f4f4;
  }

/* General Button Design*/
.button {
	background-color: #84B59F;
	border: none;
	color: #f4f4f4;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 20px;
  }

.button:hover {
	background-color:  #f4f4f4;
	color: #84B59F ;
	box-shadow: 5px 7px rgb(136, 136, 136, 0.3);
}


/*header style*/

.header{
	background-image: linear-gradient(to bottom, rgba(244, 244, 244, 0.0), rgba(244, 244, 244, 1)),
	url('../images/travel.jpg');
	background-size: cover;
	background-position: top;
	font-family: "Montserrat";
}

.introduction {
	position: absolute;
	top: 20%;
	left: 0%;
	padding: 0.66em;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat";
	color: #46745f;
	background-color: rgb(244, 244, 244, 0.9);
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
	padding: 2em;
	font-family: "Montserrat";
}

.description-2{
    position: absolute;
	top: 30%;
	left: 35%;
    margin: auto;
	padding: 2em;
	font-family: "Montserrat";
}

#search-button {
	position: absolute;
	top: 34%;
	left: 70%;
   	margin: auto;
	padding: 1em;
}



/* Dropdown */
:root {
	--radius: 6px;
	--baseBg: #f4f4f4;
	--accentFg: #84B59F;
	--accentBg: rgb(255, 255, 255);
  }

select {
	font: 400 18px/1.3 Monserrat;
	-webkit-appearance: none;
	appearance: none;
	color: var(--baseFg);
	border: 10px solid var(--baseFg);
	line-height: 1.1;
	outline: 0;
	padding: 0.65em 2.5em 0.55em 0.75em;
	border-radius: var(--radius);
	background-color: var(--baseBg);
	background-image: linear-gradient(var(--accentFg), var(--accentFg)),
	  linear-gradient(-135deg, transparent 45%, var(--accentFg) 45%),
	  linear-gradient(-225deg, transparent 45%, var(--accentFg) 45%),
	  linear-gradient(var(--accentFg) 48%, var(--accentBg) 48%);
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
	background-position: right 20px center, right bottom, right bottom, right bottom;  
	/*outline: 5px solid rgba(244, 244, 244, 0.5); */
	box-shadow: 5px 7px rgb(136, 136, 136, 0.3);
  }
  
select:hover {
	background-image: linear-gradient(var(--accentFg), var(--accentFg)),
	  linear-gradient(-135deg, transparent 45%, var(--accentFg) 45%),
	  linear-gradient(-225deg, transparent 45%, var(--accentFg) 45%),
	  linear-gradient(var(--accentFg) 48%, var(--accentBg) 48%);
	cursor: pointer;
  }

select:active {
	background-image: linear-gradient(var(--accentFg), var(--accentFg)),
		linear-gradient(-135deg, transparent 45%, var(--accentFg) 45%),
		linear-gradient(-225deg, transparent 45%, var(--accentFg) 45%),
		linear-gradient(var(--accentFg) 48%, var(--accentBg) 48%);
	color: var(--accentBg);
	border-color: var(--accentFg);
	background-color: var(--accentFg);
  }

/* Table Dropdown Results */
#items_table {
	table-layout: fixed;
	width: 1050px;
}

th {
	padding: 10px;
	text-align: left;
	color: #fff;
	font-size:  18px;
	border-bottom: 1mm solid  rgb(132, 181, 159, 0.8);
	background-color: rgb(132, 181, 159, 0.9);
}

th:nth-child(1){
	width:200px;
}


td {
	padding: 10px;
	text-align: left;
	background-color: rgba(244, 244, 244, 0.8);
	border-bottom: 1px solid  rgb(132, 181, 159, 0.8);
}

tr:hover {
	background-color: #84B59F;
}


/*FAQ*/

.contact-form{
	margin: 8em 0;
	position: relative;		
	height: max-content;
}

.contact-form h1{
	padding:2em 1px;
	color: #84B59F; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #84B59F;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}


/*About*/
.about {
	position: absolute;
	top: 30%;
	left: 0%;
	padding: 0.66em;
	padding-left: 20%;
	padding-right: 20%;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	font-family: "Montserrat";
	line-height: 2em;
	color: #46745f;
	background-color: rgb(244, 244, 244, 0.9);
}

.about-description{
	font-size: 16px;
	color: #424242;
}


/* Footer */

.footer {
	background-color: #807A7A;
	text-align: center;
	padding: 0px;
  }
