@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Caveat');

body{
	padding: 0;
	margin: 0;
	background:#f4f4f4;
}
html,h1,h2,h3,h4,h5,h6,a{
	font-family: "Montserrat";
}
.navbar{
	background:#84B59F;
}

.navbar-brand{
	font-family: "Caveat";
	font-size: 40px;
}

.nav-item{
	font-size: 20px;
}

.nav-link , .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}
.nav-link{
	margin-right: 1em !important;
}
.nav-link:hover{
	background: #f4f4f4;
	color: #84B59F;

}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

/*header style*/
.header{
	position: relative;
	background-image: url('../images/travel.jpg');

	background-size: cover;
	background-position: center;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.50);
}
.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
	color:#84B59F ;
}

.description p{
	color:#666;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;
}
.description button{
	border:1px  solid #84B59F;
	background:#84B59F;
	color:#fff;
}
.map{
	margin: 4em 0;
	padding: 1em;
	position: relative;
}
.map h1{
	color:#84B59F;
	margin: 2em;
}
.map img{
	height: 100%;
    width: 100%;
    border-radius: 50%
}
.map span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.map .desc{
	padding: 2em;
	border-left:4px solid #10828C;
}
.map .desc h3{
	color: #10828C;
}
.map .desc p{
	line-height:2;
	color:#888;
}


/*FAQ*/
.FAQ{
	margin: 4em 0;
    position: relative;	
}
.FAQ h1{
	color:#84B59F;
	margin: 2em;	
}
.FAQ img{
	 height: 15rem;
	 width: 100%;
	 margin: 1em;
}


.contact-form{
	margin: 6em 0;
	position: relative;		
}

.contact-form h1{
	padding:2em 1px;
	color: #84B59F; 
}
.contact-form .right{
	max-width: 600px;
}
.contact-form .right .btn-secondary{
	background:  #84B59F;
	color: #fff;
	border:0;
}
.contact-form .right .form-control::placeholder{
	color: #888;
	font-size: 16px;
}
